<div class="container">

    <div class="starter-template center">
        <h1>Account registration</h1>

        <p class="lead">Create a free Placer account</p>

        <form novalidate role="form" name="registerForm" ng-submit="doRegister()" style="max-width: 300px;" ng-disabled="disabled" class="css-form form-register center">
            <!--
                <input type="text" name="email" ng-model="user.email" placeholder="Email Address" required="required" class="form-control form-group"/>
            -->
                <input type="text" name="username" ng-model="user.username" placeholder="User Name" required="required" class="form-control form-group"/>
                <input type="text" name="first_name" ng-model="user.firstname" placeholder="First name" required="required" class="form-control form-group"/>
                <input type="text" name="last_name" ng-model="user.lastname" placeholder="Last name" required="required" class="form-control form-group"/>
                <input type="email" name="email" ng-model="email" placeholder="Email" required="required" class="form-control form-group"/>
                <input type="email" name="confirm_email" ng-model="user.email" placeholder="Confirm Email" required="required" class="form-control form-group" ng.model="user.email"/>

                <input type="password" name="password" ng-model="password" placeholder="Password" required="required" class="form-control form-group"/>
                <input type="password" name="repeatPassword" ng-model="user.repeatPassword" repeat-password="password" required placeholder="Confirm Password" required="required" class="form-control form-group"/>

            <button type="submit" class="btn btn-default">Submit</button>
            &nbsp;<a href="/">
            <button type="button" class="btn btn-primary">Cancel</button>
        </a>
        </form>
    </div>

</div>